@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: #62C8D8 !important;
  text-decoration: none;
}
a:hover {
  color: #C3872C !important;
  cursor: pointer !important;
}
h1, h2, h3, h4, h5, h6, p {
  color: #4B4B4B;
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem !important; /*40px*/
}
h2 {
  font-size: 1.5625rem !important; /*25px*/
  line-height: 2rem !important;
}
h3 {
  font-size: 1.25rem !important; /*20px*/
}
h4 {
  font-size: 1rem !important; /*16px*/
}
p {
  font-size: 0.9375rem !important; /*15px*/
}
h6 {
  font-size: 0.875rem !important; /*14px*/
}

/* .background {
  background-image: url(/images/bg-left.png);
  background-position: left bottom;
  background-repeat: no-repeat;
} */
.navbar-hidden {
  transform: translateX(100%);
  transition: all 300ms ease;
  display: none !important;
}
.navbar-show {
  transform: translate(0);
  transition: all 300ms ease;
  display: block;

}

.faq__desc.show-description, .faq__desc.show-payment-description {
  height: auto;
  margin-bottom: 1rem;
  padding: 1.5rem;
  transition: all 500ms ease;
}
.faq__desc {
  height: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.color {
  color: #62C8D8 !important;
}
.faq__desc {
  margin-left: 0px;
  padding-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 500ms ease;
}
.faq__question {
  padding: 1.5rem;
}
.faq__question.show-description, .faq__question.show-payment-description {
  background-color: white !important;
}
.faq__question button::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 5px;
  position: relative;
  display: flex;
  margin-left: auto;
  color: #62C8D8;

  transition: all 500ms ease;
}
.faq__question.show-description.faq__question button::after, .faq__question.show-payment-description.faq__question button::after {
  transform: rotate(180deg);
  transition: all 500ms ease;
}